body {
  margin: 0;
}

.chart-container {
  position: relative;
  width: 90vh;
  margin: 0 auto;
  /* box-sizing: border-box; */
}

.flex {
  display: flex;
}

.flex-items {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flex-item {
  border: 1px solid black;
  height: 10vh;
}
